# Build outputs
/build/

# IDE/OS
/.vscode/
/.idea/
*.log
*.tmp
*.DS_Store

# Node (not used for firmware; keep out of repo)
/node_modules/

# KiCad generated/caches
/hardware_kicad/*-backups/
/hardware_kicad/fp-info-cache
/hardware_kicad/*.kicad_prl
/hardware_kicad/bom/
/hardware_kicad/plotter outputs/
/hardware_kicad/**/*.zip
/hardware_kicad/**/*.7z
wi-boom_perci_2.0.1_changes.txt

# Private, ideation-related, non-gitHub files
/private/